/* Aplicando Estilos a Página */ 
 
body
{
  font-family: monospace;
  font-size: 20px;
  background-image: url(/images/fundo.png);
  background-repeat: no-repeat ;
  background-size: cover;
  text-align: center;
  color: white;
}

.dados-pessoais
{
  width: fit-content;
  text-align: center;
}

.cabecalho
{
  text-align: center;
  background-color: #006494;
  border: solid;
  border-radius: 10px;
  color: #E8F1F2;
  font-size: 20px;
}

fieldset
{
  border: 2px solid rgb(255,232,57);
  width: 400px;
  margin: auto;
  background-color: #006494;
  margin: 2px;
}

.formulario
{
  width: 400px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  color: rgb(255,232,57);
}

.registrar
{
  background: rgb(255,232,57);
  color: #006494;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: block;
  width: 50%;
  font-size: 1, 3em;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}

footer
{
  display: flex;
  align-content: center;
  color: black;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

footer img
{
  display: inline-block;
  margin-right: 20px;
  height: 60px;
  vertical-align: middle;
}


